<article>
  Hello <%= user %>. <br>
  Current Time is: <%= time_now %>. <br>
  Value of clocked in is: <%= clocked_in %> <br>
  
  <% if !clocked_in %>
  
  Enter the projects name. <br>
  
  <form action="/" method="post">
    <div><label for="project">Project:</label><br />
    <input type="text" 
           name="project" 
           id="project"
           size = 40 /></div>

    <div><input type="submit" value="Start" /></div>
  </form>
  
  <% else %>

  You are clocked in.
  
  <form action="/" method="post">
    <input type="submit" value="Finish" />
  </form>
  
  <% end %>
  
  

</article>