<article>
  Hello <%= user %>. <br>
  Current Time is: <%= time_now %>. <br>
  
  Enter the projects name. <br>
  
  <form action="/" method="post">
    <div><label for="project">Project:</label><br />
    <input type="text" 
           name="project" 
           id="project"
           size = 40 /></div>

    <div><input type="submit" value="Start" /></div>
  </form>

</article>