<article>
  <h1> 
       Go ahead and add yourself to the database.
  </h1>
  
  <form action="/join" method="post">
    <div><label for="email">E-Mail:</label><br />
    <input type="text" name="email" id="email" /></div>

    <div><input type="submit" value="Join" /></div>
  </form>
  
</article>