<!doctype = html>

<html>
  <head>
    <style type="text/css" media="screen">
    header, nav, footer, article {display:block}
    header {text-align: center}
    nav {float: left;
         width: 20% }
    article {float: right;
             width: 80%}
    footer {clear: both}
    </style>
  </head>

  <body>

    <%= yield %>

  </body>


</html>