<h2>
  Put login form here. <br>
  
  Or redirect to have the user add his information to the database.
</h2>

<article>

  <h1>
    Please Log In
  </h1>

  <form action="/add_article" method="post">
    <div><label for="first_name">First Name:</label><br />
    <input type="text" name="first_name" id="first_name" /></div>

    <div><label for="last_name">Last Name:</label><br />
    <input type="text" name="last_name" id="last_name" /></div>
    
    <div><input type="submit" value="Post" /></div>
  </form>
  
  <h2>
    <A HREF="/join"> Create a new user account. </A>
  </h2>

</article>