<article>
  Put login form here. <br>
  
  Or redirect to have the user add his information to the database.
</artice>

<article>

  <h1>
    Please Log In
  </h1>

  <form action="/login" method="post">
    <div><label for="email">E-Mail:</label><br />
    <input type="text" name="email" id="email" /></div>

    <div><input type="submit" value="Submit" /></div>
  </form>
  
  <h2>
    <A HREF="/join"> Create a new user account. </A>
  </h2>

</article>