<% timesheet.projects.each do |project| %>
  <table border="1">
    <caption><b> Project: <%= project %> </b></caption>
      <tr>
        <th> Clock In </th>
        <th> Clock Out </th>
        <th> Duration </th>
      </tr>
      <% timesheet.report(project).each do |unit_of_work| %>
        <% if unit_of_work.during? week %>
          <tr>
            <td> <%= unit_of_work.formatted_in_time %> </td>
            <% if unit_of_work.finished? %>
              <td> <%= unit_of_work.formatted_out_time %> </td>
              <td> <%= unit_of_work.elapsed_time %> </td>
            <% else %>
              <td> Click Finish to Clock Out </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
<% end %>